*
{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body
{
  background: linear-gradient(to bottom, orange, white,green);
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.header
{
  text-align: center;
}
 
.column
{
  float: left;
  padding: 10px;
}
.column.side
{
  width: 50%;
  float: right;
  font-family: open-sans;
}
.side span
{
  font-weight: bold;
}
.column.main
{
  width: 100%;
}
.column.photo
{
  width: 25%;
}
.row::after
{
  content: "";
  display: table;
  clear: both;
}
img{
  width: 100%;
}
.navigation
{
  background: green;
  overflow: hidden;
}
.navigation > a
{
  text-decoration: none;
  color: white;
  float: left;
  padding: 4px;
  font-family: monospace;
}
.navigation > a:hover
{
  color: green;
  background: white;
}
.navigation > a:last-of-type
{
  float: right;
}
footer
{
  text-align: center;
}

/*mobile display*/
@media screen and (max-width: 350px)
{
  .column.photo, .column.side, column.main{
    width: 100%;
  }
}

/*tab display*/
@media screen and (max-width: 550px)
{
  .column.photo
  {
    width: 50%;
  }
}