.heading
{
	font-family: courier;
	font-size: large;
}
.firstbox
{
	border: 3px ridge red;
	width: 500px;
	height: 350px;
	box-sizing: border-box;
}
.secondbox
{
	border: 3px ridge green;
	width: 500px;
	height: 350px;
	box-sizing: content-box;
}
@media	screen and (min-width:400px)
{
	.firstbox{
		width: auto;
		color: green;
	}
	.secondbox
	{
		width: auto;
		color: red;
	}
}